extends templates/layout

block content
    .search
        .search__hero
            h2 Get SMS from anywhere.
            form(action="/",method="get")#js-countryForm.search__form
                span Get a phone number from:
                select#countries(name="country")
                    option(value="NONE") 🌎 Choose Country
                    each country in availableCountries
                        if country.code === searchingBy
                            option(value=country.code, selected)=`${country.flag} ${country.name}`
                        else
                            option(value=country.code)=`${country.flag} ${country.name}`

            if (numbers && numbers.length === 0)
                .results
                    span.results__title There are no numbers available on your selected country
            else if numbers
                .results
                    span.results__title Claim a number for just $#{price} per month:
                    ul.results__list
                        each number in numbers
                            a(href=`/numbers/rent/${searchingBy}/${number.phone_number}`)
                                li.results__number.accentBtn
                                    span=number.friendly_name
                a.results__new(href=`/?country=${searchingBy}`) Generate again
            


block scripts
    script(src="/js/countrySelect.js")